
.gallery-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color:darkcyan;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.content {
  display: flex;
  align-items: center;
  gap: 20px;
}


.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.gallery-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  text-align: left;
}

.text h2 {
  padding-left: 100px;
  font-size: 24px;
  color:white;
  margin: 0;
}

.text p {
  padding-left: 100px;
  font-size: 16px;
  color:white;
  margin: 5px 0 0;
}
